@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Doctor FIRE</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Doctor FIRE</h2>
        <p>
            Doctor FIRE is an application that
            reactively displayes text inforation 
            based on your last selection. 
        </p>
    </div>

</div>